<div class="login-component">
<mat-card class="login-container">
  <mat-card-content
    ><div>
      <form [style.fontSize.px]="18" id="Login" class="Login_Form">
        <mat-form-field class="field">
          <mat-label class="field-label">Enter your email</mat-label>
          <input matInput [formControl]="emailFormControl" required />
          <mat-error
            *ngIf="
              emailFormControl.hasError('email') ||
              emailFormControl.hasError('required')
            "
          >
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field class="field" >
          <mat-label class="field-label">Enter your password</mat-label>
          <input
            matInput
            required
            [formControl]="passwordFormControl"
            [type]="hide ? 'password' : 'text'"
          />
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Please enter a Password
          </mat-error>
          <mat-error *ngIf="passwordFormControl.errors?.minlength">
            Password should be 8 character long atleast
          </mat-error>
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon style="font-size: 1.5rem;">{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </form></div
  ></mat-card-content>
  <mat-card-actions>
    <div class="login-form-actions">
      <div class="login-actions">
        <button
      class="login-button"
      mat-raised-button
      [disabled]="!isValid()"
      (click)="logInWithEmail()"
      >
      Login
    </button>
    <a
        (click)="forgotPassword()"
        style="text-decoration: none; color: blue; cursor: pointer;"
        >Forgot password?</a
      >
      </div>
  </div>
  </mat-card-actions>
  <div class="signin-google-actions">
    <button
      mat-raised-button
      class="signin-with-google-button"
      (click)="logInWithGoogle()"
    >
      <img
        width="20px"
        style="margin-bottom: 3px; margin-right: 5px; background-color: white; width: 20px;"
        alt="Google sign-in"
        src="https://b.zmtcdn.com/images/new_google_icon.png"
      />
      Continue with Google
    </button>
    <div class="signup-question">
      <p>Don't have an account? <a href="#">sign up here</a></p>
  </div>
    </div>
</mat-card>
</div>
<!-- https://www.pinclipart.com/picdir/big/386-3864437_school-google-pearl-docs-middle-plus-suite-ios.png -->
