.vendor-img {
  width: 55px;
  height: 55px;
  border-radius: 25%;
}
.order {
  max-width: 400px;
  margin: 1rem;
}

.INCOMPLETE
{
 color:tomato;
}

.COMPLETED
{
color:rgb(37, 245, 10);
}

.PLACED
{
 color: rgb(216, 17, 156);
}
