pdf-viewer {
  display: block;
  height: 100%;
  width: 100%;
}
.pdfContainer {
  height: 75%;
  width: 75%;
}
.expansionlist {
  width: 75%;
  margin: auto;
  margin-top: 6px;
}

.progress {
  margin: auto;
  width: 700px;
  height: 1rem;
  margin-top: 14%;
}
.progress-text {
  margin-left: 45%;
  margin-top: -33px;
  position: absolute;
}
