* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container_Custom {
  display: flex;
  width: 100%;
}

.RightPan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height: 100vh;
}
.LeftPan {
  color: white;
  display: flex;
  height: 100vh;
  width: 40vw;
  /* background-color:#F21876; */ /* PINKISH */
  background-color: #f6444d;
  justify-content: flex-start;
  padding: 4rem 2rem;
  flex-direction: column;
}

.icons {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  padding: 0 25%;
}

.icon {
  display: flex;
  margin: 1.4rem 0;
  align-items: center;
  justify-content: space-around;
  border: 2px solid;
  border-radius: 0.75rem;
  padding: 1rem 0.65rem 1rem 0;
}

.svg-config::before {
  width: 4.125rem;
  height: 4.125rem;
  display: inline-block;
}

.offer-image::before {
  content: "";
  background: url(../../assets/images/discount.svg) no-repeat;
  position: relative;
  top: 1.5px;
}
.queue-image::before{
  content: "";
  background: url(../../assets/images/queue.svg) no-repeat;
}

.clock-image::before {
  content: "";
  background: url(../../assets/images/clock.svg);
}
.line-1{
  /* position: relative;
  top: 20%; */
  height: 2.7rem;
  margin: 0 auto;
  border-right: 4px solid rgba(255,255,255,.75);
  font-size: 150%;
  text-align: center;
  overflow: hidden;
  z-index: 10;
}

.mobile-view {
  display: none;
}

/* Animation */
.anim-typewriter{
animation: typewriter 2s steps(10) 3s 1 normal both,
           blinkTextCursor 500ms steps(22) infinite normal;
}
@keyframes typewriter{
from{width: 0;}
to{width: 16.15rem;}
}
@keyframes blinkTextCursor{
from{border-right-color: rgba(255,255,255,.95);}
to{border-right-color: transparent;}
}
@media (max-width : 45rem) {

  .LeftPan {
    display: none;
  }

  .RightPan {
    width: 100vw;
  }

  .mobile-view {
    display: block;
    color: #f6444d;
    position: fixed;
    top: 5%;
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(242, 24, 118, 0.95);}
    to{border-right-color: transparent;}
    }
}
