<section class="container_Custom">
  <section class="LeftPan">
      <div class="line-1 anim-typewriter">
          <h2>R a p i d P r i n t</h2>
      </div>
      <div class="icons">
        <div class="icon">
          <i class="offer-image svg-config" >
          </i>
          <span>Great Offers</span>
        </div>
        <div class="icon">
            <i class="queue-image svg-config" >
            </i>
            <span>No Queues</span>
        </div>
        <div class="icon">
          <i class="clock-image svg-config" >
          </i>
          <span>Time Saving</span>
        </div>
        </div>
  </section >
  <section class="RightPan">
    <div class="line-1 anim-typewriter mobile-view">
      <h2>R a p i d P r i n t</h2>
    </div>
      <router-outlet></router-outlet>
  </section>
</section>

