<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="orders">
        <app-order></app-order>
      </div>
    </div>
    <div class="col-md-6">
      <div class="orders">
        <app-order></app-order>
      </div>
    </div>
    <div class="col-md-6">
      <div class="orders">
        <app-order></app-order>
      </div>
    </div>
    <div class="col-md-6">
      <div class="orders">
        <app-order></app-order>
      </div>
    </div>
    <div class="col-md-6">
      <div class="orders">
        <app-order></app-order>
      </div>
    </div>
  </div>
</div>
