<mat-card class="order">
  <mat-card-header>
    <!-- <div style="float: right; color: tomato">
      <strong>PAYMENT IN COMPLETE</strong>
    </div> -->
    <!-- <div style="float: right; color: rgb(37, 245, 10)">
      <strong>DELIVERED</strong>
    </div> -->
    <div style="float: right; color: rgb(216, 17, 156)">
      <strong>ORDER PLACED</strong>
    </div>
    <div mat-card-avatar style="margin-right: 2rem">
      <img
        class="vendor-img"
        src="https://material.angular.io/assets/img/examples/shiba1.jpg"
      />
    </div>

    <mat-card-title>MY Shop</mat-card-title>
    <mat-card-subtitle>Mani Nagar,Ahmedabad</mat-card-subtitle>
  </mat-card-header>
  <hr />
  <mat-card-content>
    <div>
      <p>ORDER NUMBER</p>
      <p><strong>1726923235</strong></p>
    </div>
    <div>
      <p>TOTAL AMOUNT</p>
      <p><strong>₹169.60</strong></p>
    </div>
    <div>
      <p>ITEMS</p>
      <p><strong>1 x Chana Puri</strong></p>
    </div>
    <div>
      <p>ORDERED ON</p>
      <p><strong>August 10, 2020 at 07:24 PM</strong></p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      style="background-color: brown; color: whitesmoke"
    >
      View Details
    </button>
    <button
      mat-raised-button
      style="background-color: rgb(42, 99, 165); color: whitesmoke"
    >
      Complete Order
    </button>
  </mat-card-actions>
</mat-card>
