<div class="signup-component">
<mat-card class="signup-container">
  <mat-card-content>
    <div>
      <form [style.fontSize.px]="18" class="Signup_Form">
        <mat-form-field class="field" >
          <mat-label>Enter your email</mat-label>
          <input matInput [formControl]="emailFormControl" required />
          <mat-error
            *ngIf="
              emailFormControl.hasError('email') ||
              emailFormControl.hasError('required')
            "
          >
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field class="field">
          <mat-label>Enter your password</mat-label>
          <input
            matInput
            required
            [formControl]="passwordFormControl"
            [type]="hide ? 'password' : 'text'"
          />
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Please enter a Password
          </mat-error>
          <mat-error *ngIf="passwordFormControl.errors?.minlength">
            Password should be 8 character long atleast
          </mat-error>
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="field">
          <mat-label>Confirm password</mat-label>
          <input
            matInput
            required
            [formControl]="confirmPasswordFormControl"
            [type]="hide_confirm ? 'password' : 'text'"
          />
          <mat-error *ngIf="confirmPasswordFormControl.hasError('required')">
            Please confirm a Password
          </mat-error>
          <mat-error *ngIf="confirmPasswordFormControl.errors?.minlength">
            Password should be 8 character long atleast
          </mat-error>
          <button
            mat-icon-button
            matSuffix
            (click)="hide_confirm = !hide_confirm"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide_confirm"
          >
            <mat-icon>{{
              hide_confirm ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </div>
  </mat-card-content>
  <mat-card-actions>
  <div class="signup-form-actions">
      <div class="signup-actions">
        <button
          mat-raised-button
          class="signup-button"
          [disabled]="!isValid()"
          (click)="signInWithEmail()"
        >
          Sign up
        </button>
    </div>
  </div>
  </mat-card-actions>
  <div class="signup-google-actions">
    <button
      mat-raised-button
      class="signup-with-google-button"
      (click)="signInWithGoogle()"
    >
      <img
        width="20px"
        style="margin-bottom: 3px; margin-right: 5px;"
        alt="Google sign-up"
        src="https://b.zmtcdn.com/images/new_google_icon.png"
      />
      Sign up with Google
    </button>
    <div class="signin-question">
      <p>Already have an account? <a href="#">login here</a></p>
  </div>
  </div>
</mat-card>
</div>
