<div>
  <h2 mat-dialog-title style="font-size: 24px">Apply Coupon</h2>
  <div mat-dialog-content>
    <form id="offer-form" style="display: flex;">
      <mat-form-field
        class="example-full-width"
        appearance="outline"
        style="width: 60%"
      >
        <input
          type="text"
          matInput
          #offerCode
          (keyup)="capatlizeInput()"
          style="font-size: 18px; font-weight: 700"
          placeholder="Coupon Code"
        />
        <!-- <button
          mat-button
          *ngIf="offerCode"
          matSuffix
          mat-icon-button
          (click)="offerCode.value = ''"
        >
          <mat-icon>close</mat-icon>
        </button> -->
      </mat-form-field>
      <button
        mat-raised-button
        style="
          margin-left: 1.5rem;
          margin-top: 0.6rem;
          width: 130px;
          height: 50px;
          font-family: okra, Helvetica, sans-serif;
          font-size: 16px;
          background-color: #da4149f5;
          color: white;
        "
        (click)="applyCode(offerCode.value)"
      >
        Apply
      </button>
    </form>
    <div>
      <div class="offer">
        <app-offer
        ></app-offer>
        <app-offer
        ></app-offer>
        <app-offer
        ></app-offer>
        <app-offer
        ></app-offer>
        <app-offer
        ></app-offer>
      </div>
    </div>
  </div>
</div>
