<mat-toolbar class="header"
  ><a style="text-decoration: none; cursor: pointer; color: white;">RapidPrint</a><span class="example-spacer"></span>
  <button
    mat-button
    style="color: white; font-size: 20px"
    routerLink="/auth/login"
    routerLinkActive="active"
    *ngIf="!userIsAuthenticated"
  >
    LOGIN
  </button>
  <button
    mat-button
    style="color: white; font-size: 20px"
    routerLink="/auth/signup"
    routerLinkActive="active"
    *ngIf="!userIsAuthenticated"
  >
    REGISTER
  </button>
  <div class="header-item wallet-container" (click)="openWallet()" (mouseenter)="badgeShow()"
  (mouseleave)="badgeHide()">
  <button
    mat-icon-button
    style="color: white"
  >
    <!-- <mat-icon
    style="font-size: 1.4rem; margin-right: 0.5rem;"
      [inline]="true"
      (mouseenter)="badgeShow()"
      (mouseleave)="badgeHide()"
      >account_balance_wallet</mat-icon
    > -->
    <i class="wallet-image svg-config" >
    </i>
  </button>
  <div class="balance" [style.display]="balanceVisibility">
    <h4>&#8377; {{ walletBalance }}</h4>
  </div>
    </div>
  <img
    [src]="imageUrl"
    alt="Avatar"
    class="avatar"
    *ngIf="userIsAuthenticated"
    [matMenuTriggerFor]="menu"
  />
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    style="width: 1rem;"
    #menuTrigger="matMenuTrigger"
    (mouseenter)="menuTrigger.openMenu()"
  >
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #menu="matMenu" style="margin-top: 12px">
    <span (mouseleave)="menuTrigger.closeMenu()">
      <button mat-menu-item (click)="myProfile()">My Profile</button>
      <button mat-menu-item (click)="onLogout()">Logout</button>
      <button mat-menu-item>Reset Password</button>
    </span>
    <!--orders-->
  </mat-menu>
</mat-toolbar>
