<div class="order-details-component">
  <div class="order-details-cpm-header">
    <div class="shop-details-container">
      <div mat-card-avatar >
        <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="vendor's profile image">
      </div>
      <div class="shop-details">
        <p style="font-size: 1.2rem;"><strong>Khush Gandhi cyber cafe</strong></p>
        <p style="color: #929090; font-size: 0.85rem; margin-top: 0.5rem;">Bhairavnath rd, Ahmedabad</p>
      </div>
    </div>
    <div class="close-icon">
      <mat-icon>close</mat-icon>
    </div>
  </div>
  <hr />
  <table class="order-details-table">
    <thead style="width: 100%;">
      <tr class="order-details-tbl-header">
        <th>File Name</th>
        <th>Print Details</th>
        <th>Applied Services</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr class="order-details-tbl-row">
        <td>File Name khush gandhi, sagar Chauhan and Shridutt Patel</td>
        <td>B&W Double-side, Pages: 100, A4</td>
        <td>Hard Binding, Lamination</td>
        <td>1</td>
        <td>&#8377; 95</td>
      </tr>
      <tr class="order-details-tbl-row">
        <td>File Name</td>
        <td>Colour Double-side, Pages: 100, A4</td>
        <td>Hard Binding, Lamination</td>
        <td>1</td>
        <td>&#8377; 145</td>
      </tr>
      <tr class="order-details-tbl-row">
        <td>File Name</td>
        <td>Colour Double-side, Pages: 100, A4</td>
        <td>Hard Binding, Lamination</td>
        <td>1</td>
        <td>&#8377; 145</td>
      </tr>
      <tr class="order-details-tbl-row">
        <td>File Name</td>
        <td>Colour Double-side, Pages: 100, A4</td>
        <td>Hard Binding, Lamination</td>
        <td>1</td>
        <td>&#8377; 145</td>
      </tr>
      <tr class="order-details-tbl-row">
        <td>File Name</td>
        <td>Colour Double-side, Pages: 100, A4</td>
        <td>Hard Binding, Lamination</td>
        <td>1</td>
        <td>&#8377; 145</td>
      </tr>
    </tbody>
  </table>
  <hr>
  <div class="order-summary-container">
    <div style="margin: 1rem;">
      <div class="info-title">
        <h3>ORDER SUMMARY</h3>
      </div>
      <div class="order-summary">
        <p>Sub-total</p>
        <p>&#8377; 400</p>
      </div>
      <div class="order-summary">
        <p>Wallet Applied</p>
        <p style="color: #03a685;">-&#8377; 40</p>
      </div>
      <div class="order-summary">
        <p>Offer Applied - <strong>(RapidRocks)</strong></p>
        <p style="color:#03a685;">-&#8377; 40</p>
      </div>
      <div class="order-summary">
        <p>Taxes & Charges</p>
        <p>&#8377; 0</p>
      </div>
      <div style="border: 2px solid #adadadc7;"></div>
      <div class="order-summary">
        <p>Total Amount</p>
        <p>&#8377; 320</p>
      </div>
  </div>
  </div>
  <hr>
  <div class="order-details">
    <div style="margin-left: 1rem;">
      <div class="info-title">
        <h3>ORDER DETAILS</h3>
      </div>
    <div class="order-detail">
      <p style="color: #636363d6;">order id</p>
      <p>1234567890</p>
    </div>
    <div class="order-detail">
      <p style="color: #636363d6;">order date</p>
      <p>12th march, 2019 at 07:00</p>
    </div>
    <div class="order-detail">
      <p style="color: #636363d6;">USER'S PHONE</p>
      <p>1234567890</p>
    </div>
    <div class="order-detail">
      <p style="color: #636363d6;">USER'S NAME</p>
      <p>KHUSH GANDHI</p>
    </div>
  </div>
</div>
