<div class="forgot-password-container">
  <div class="close-icon-btn" (click)="onClose()">
    <mat-icon matSuffix>close</mat-icon>
  </div>
  <div class="forgot-password-form">
  <mat-form-field class="field" appearance="outline">
    <mat-label>Enter your email</mat-label>
    <input matInput [formControl]="emailFormControl" required />
    <mat-error
      *ngIf="
        emailFormControl.hasError('email') ||
        emailFormControl.hasError('required')
      "
    >
      Please enter a valid email address
    </mat-error>
  </mat-form-field>
  <br />

  <mat-form-field class="field" appearance="outline">
    <mat-label>Mobile No(without country code).</mat-label>

    <input
      matInput
      [formControl]="mobileFormControl"
      required
      pattern="[789][0-9]{9}"
    />
    <mat-icon matSuffix>phone</mat-icon>
    <mat-error *ngIf="mobileFormControl.hasError('required')">
      Mobile number is required
    </mat-error>
    <mat-error *ngIf="mobileFormControl.errors?.minlength">
      Mobile should be 10 character long
    </mat-error>
    <mat-error *ngIf="mobileFormControl.errors?.maxlength">
      Mobile should be 10 character long
    </mat-error>
  </mat-form-field>
</div>
  <div class="forgot-password-action">
    <button
      mat-raised-button
      class="change-password-btn"
      (click)="onSubmit()"
    >
      Change Password
    </button>
  </div>
</div>
