<div class="cupon-container">
  <div style="display: flex; justify-content: space-between;">
    <div class="cupon-code">
      RAPIDROCKS
    </div>
    <div>
      <button mat-button style="color: #da4149f5;">Apply</button>
    </div>
  </div>
  <div class="cupon-description">
    Rs. 40 off on minimum purchase of Rs. 250.
  </div>
</div>
<!-- <mat-card>
  <mat-card-header>
    <mat-card-title
      ><h4>{{ offer.offerName }}</h4></mat-card-title
    >
    <mat-card-subtitle
      ><h5>{{ offer.offerCode }}</h5></mat-card-subtitle
    >
    <mat-card-subtitle>
      <h6>{{ offer.offerDescription }}</h6>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content> </mat-card-content>
  <mat-card-actions align="end">
    <button
      mat-raised-button
      color="accent"
      style="margin-right: 5px"
      (click)="applyCode(offer.offerCode)"
    >
      Apply
    </button>
  </mat-card-actions>
</mat-card>
 -->
