.order-component {
  background-color: #dcdada85;
  width: 100vw;
  height: calc(100vh - 64px);
  overflow-y: scroll;
}

.orders {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
