.add-file-region {
  display: flex;
  padding: 0 10rem;
}
.add-print-component {
  display: flex;
  padding: 1rem;
  margin: 1rem;
  width: 100%;
  box-shadow: 0 0 1.25rem rgba(0,0,0,.32);
}

.add-file-container {
  width: 100%;
  height: 15rem;
  padding: 0.5rem;
  border : 1px dashed black;
}

.add-file-form {
  display: flex;
  flex-direction: column;
}

.add-file-form-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15.5rem;
  flex-direction: column;
}

.add-files-btn-container {
  display: flex;
  justify-content: center;
}

.add-files-suggestions-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem 0;
}

.add-file-btn {
  background-color: #f6444d;
  color: white;
  padding: 1rem 3.7rem;
  margin-right: 1rem;
  font-size: 1rem;
}

.googleDrive::before {
  content: "";
  background: url(../../../../assets/images/G-drive.svg) no-repeat 50%;
  width: 1.125rem;
  height: 1.125rem;
  margin-right: .2rem;
  display: inline-block;
  position: relative;
  top: 0.2rem;
}

.google-drive-button {
  padding: 1.25rem 2.19rem;
  background-color: #f6444d;
  color: white;
  font-size: 1rem;
}
/*print itme rows start */
.print-list {
  overflow-y: scroll;
  height: 278px;
  margin: 0 17%;
}

.print-itmes {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.print-item {
  display: flex;
  justify-content: flex-start;

}
.print-item:hover {
  box-shadow: 2px -2px 8px 0px rgba(0, 0, 0, 0.3);
}
.file-card {
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
  width: 25rem;
  border: none;
  border-radius: 5px;
}

.file-card strong{
  margin-left: 0.4rem;
}

.file-card:hover {
  cursor: pointer;
}

.btn-container {
  display: flex;
}
.btn {
  outline: none;
  border: none;
  width: 3.5rem;
  margin-left: 0.4rem;
  border-radius: 5px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 2px 0px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.btn:hover {
  box-shadow: 1px -2px 8px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.edit-btn {
  background-color: #0fc0c5;
  margin-left: 0.6rem;
}

.delete-btn {
  background-color: #f23030;
}

.preview-btn {
  background-color: #4385f5;
}

.take-print-area {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
}

.take-print-btn {
  margin-right: 0;
  padding: 0.5rem 2rem;
}
/*print itme rows end */
