/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-step-icon {
  height: 40px !important;
  width: 40px !important;
}

.mat-menu-panel {
  margin-top: 15px !important;
}
.mat-list-item {
  height: auto !important;
}
.mat-button-focus-overlay .cdk-focused .cdk-mouse-focused {
  outline: none;
}
button:focus {
  outline: none;
}
.mat-paginator-container {
  justify-content: center !important;
}
div.mat-paginator-range-label
{
  display: none;
}

.Login_Form .mat-form-field.mat-focused .mat-form-field-label{
  color : #4385f5;
}
.Signup_Form .mat-form-field.mat-focused .mat-form-field-label{
  color : #4385f5;
}

#Login.Login_Form .mat-form-field.mat-focused .mat-form-field-ripple{
  background-color: #4385f5 ;
}
.Signup_Form .mat-form-field.mat-focused .mat-form-field-ripple{
  background-color: #4385f5 ;
}

.forgot-password-form .mat-form-field.mat-focused .mat-form-field-label{
  color : #4385f5;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color : #4385f5;
}

.page-input-container .mat-form-field.mat-focused .mat-form-field-label{
  color : #4385f5;
}

#offer-form .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #cecece;
}

.popup  mat-dialog-container {
  padding: 0px;
  width: fit-content;
  overflow: visible;
  height: 100%;
  background-color: transparent;
  box-shadow: none;
}

.timing-popup mat-dialog-container {
  padding: 0;
}
