/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-step-icon {
  height: 40px !important;
  width: 40px !important;
}

.mat-menu-panel {
  margin-top: 15px !important;
}
.mat-list-item {
  height: auto !important;
}
.mat-button-focus-overlay .cdk-focused .cdk-mouse-focused {
  outline: none;
}
button:focus {
  outline: none;
}
.mat-paginator-container {
  justify-content: center !important;
}
div.mat-paginator-range-label
{
  display: none;
}